extends layout
block content
    //script(nonce=nonceHash).
       mynumber=!{JSON.parse(JSON.stringify(number))};
       console.log("nonce worked"+mynumber);
       myn=parseInt(mynumber)
    h1 The list with all the bookings
    h5(style='text-align:center;') Page #{number}
    flex-container(style='justify-content:center;flex-direction:row;gap:7px;margin-bottom:15px;')
       -for(j=0;j<pages;j++)
         form(method='GET'  action='')
             div.form-row
                 div.form-group.col-md-1
                 label(for= 'page')
                     input#page.form-control(type='hidden'  name='page' value=j+1)
             button.btn.btn-primary(type='submit;',style='width:33px; height:30px; ') #{j+1}

    ul
        table(style='width:100%')
            tr
                th Booking No
                th Username
                th Resource Name
                th Cost
                th Start
                th End
                th Booking Time
            tr
            - var i=0;
                each booking in book_list
                    -i++;
                    tr
                        td
                            a(href='/catalog' + booking.url + '/get') #{i}
                        td #{booking.userID.Uname}

                        td #{booking.resourceID.name}
                        td #{booking.total_cost.toFixed(2)}
                        td #{booking.startdate}
                        td #{booking.finishdate}
                        td #{booking.registertime}
                else
                    li There are no Bookings.

    flex-container(style='justify-content:center;flex-direction:row;gap:7px;')
        -for (k = 0; k < pages; k++)
            form(method='GET'  action='')
                div.form-row
                    div.form-group.col-md-1
                    label(for= 'page')
                        input#page1.form-control(type='hidden'  name='page' value=k + 1)
                button.btn.btn-primary(type='submit;',style='width:33px; height:30px; ') #{k + 1}
    h5(style='text-align:center;') Page #{number}