extends layout
block content
    -var i=0;
    H4= found.name
    h5(style='text-align:center;') Page #{pg}
        flex-container(style='justify-content:center;flex-direction:row;gap:7px;margin-bottom:15px;')
            -for (j = 0; j < pages; j++)
                       form(method='GET'  action='')
                           div.form-row
                               div.form-group.col-md-1
                               label(for= 'page')
                                   input#page.form-control(type='hidden'  name='page' value=j + 1)
                           button.btn.btn-primary(type='submit;',style='width:33px; height:30px; ') #{j+1}
        ul
    each item in found
        -i++;
        -var value=item.total_cost.toFixed(2);
        ul
        flex-container(style='background-color:#c7e7fa;')
            numbering.flex-container
                 a(href='/catalog'+item.url+'/get') ##{i}
            three.flex-container
                | #[strong Name:] #{item.userID.Uname}
            three.flex-container
                | #[strong Date Started:] #{item.startdate}
            three.flex-container
                | #[strong Date Finished:] #{item.finishdate}
            three.flex-container
                | #[strong Date Registered:] #{item.registertime}
            three.flex-container
                | #[strong Total Cost:] #{value}
    h5(style='text-align:center;') Page #{pg}
        flex-container(style='justify-content:center;flex-direction:row;gap:7px;margin-bottom:15px;')
            -for (k = 0; k < pages; k++)
                       form(method='GET'  action='')
                            div.form-row
                                div.form-group.col-md-1
                                label(for= 'page')
                                    input#page1.form-control(type='hidden'  name='page' value=k + 1)
                            button.btn.btn-primary(type='submit;',style='width:33px; height:30px; ') #{k+1}
        ul


