extends layout
block content
    h1= title
    h5(style='position:relative;left:300px;') Page #{pg}
        flex-container(style='justify-content:flex-start;flex-direction:row;gap:7px;margin-bottom:15px;')
            -for (j = 0; j < pages; j++)
                form(method='GET'  action='')
                    div.form-row
                        div.form-group.col-md-1
                        label(for= 'page')
                            input#page.form-control(type='hidden'  name='page' value=j + 1)
                    button.btn.btn-primary(type='submit;',style='width:33px; height:30px; ') #{j+1}
    ul
        - resources_list.sort(function(a, b) {let textA = a.name.toUpperCase(); let textB = b.name.toUpperCase(); return (textA < textB) ? -1 : (textA > textB) ? 1 : 0;});
        table
            tr
                th Name
                th Cost
                th Status
            tr
              each resource in resources_list
                tr
                 td
                    a(href='/catalog'+resource.url) #{resource.name}
                 td #{resource.ph} Euros
                 td
                     if resource.status=='Available'
                      span.text-success   #{resource.status}
                     else
                      span.text-warning   #{resource.status}


              else
                li There are no resources.
    ul
        flex-container(style='justify-content:flex-start;flex-direction:row;gap:7px;')
            -for (k = 0; k < pages; k++)
                form(method='GET'  action='')
                    div.form-row
                        div.form-group.col-md-1
                        label(for= 'page')
                            input#page1.form-control(type='hidden'  name='page' value=k + 1)
                    button.btn.btn-primary(type='submit;',style='width:33px; height:30px;position:relative; left:260px;') #{k + 1}
    h5(style='position:relative;left:300px;') Page #{pg}