extends layout

block content
    if (null===resource_item)
        h1 404! No resources found
    else
        h1= resource_item.name
        img(src=""+resource_item.photoLink+"" style='float:left;' alt="logo" )
        h3= "Status : "
         if resource_item.availability=='Available'
            span.text-success #{resource_item.availability}
         else
            span.text-warning #{resource_item.availability}
        h3= "Description:"
            p= resource_item.description
        h3= "Cost per hour:"
            |  #{resource_item.ph} Euros
        h6 One booking quantum equals 30 minutes.
        h3= "Maximum Booking hour : "
            | #{resource_item.maxBookingDays}
        flex-container(style='background-color:white;')
            buttons.flex-container
                a(href='/catalog/resources/' + resource_item._id + '/calendar')
                    button.btn.btn-primary See Calendar
            buttons.flex-container
                a(href='/catalog/resources/' + resource_item._id + '/addBooking')
                    button.btn.btn-primary Book now
            if(role=="admin")
                buttons.flex-container
                    a(href='/catalog/resources/'+resource_item._id+'/update' )
                        button.btn.btn-primary Update
                buttons.flex-container
                    a(href='/catalog/bookings/' + resource_item._id+'/resource?page=1' )
                        button.btn.btn-primary Bookings
                buttons.flex-container
                    form(method='POST' action='/catalog/resources/'+resource_item._id+'/delete')
                        button.btn.btn-primary  Delete

