extends layout
block content
    h1 Booking Details
    br
    each bookia in book
        flex-container
            div.flex-container
                h4  Booking Resource:
                a(href="/catalog/resources/" + bookia.resourceID._id + "/get")
                    h6=bookia.resourceID.name
            div.flex-container
                h4 Booking starts:
                h6=bookia.startdate
            div.flex-container
                h4  Booking ends:
                h6=bookia.finishdate
            div.flex-container
                h4 Registered Time:
                h6=bookia.registertime
        ul
        form(method='POST'  action='')
            div.form-row
                div.form-group.col-md-6
                    label(for='Project_Title') #[strong Project Title]:
                    input#Project_Title.form-control(type='text',placeholder='Type your project title' name='Project_Title' value=(undefined === bookia ? '' : bookia.Project_title))
                div.form-group.col-md-6
                    - if (undefined === bookia){val = ''} else {val =bookia.Project_desc}
                    - if (undefined ===bookia){val =''} else {val= bookia.Project_desc}
                    label(for='Project_Desc') #[strong Project description]:
                    textarea#Project_Desc.form-control(type='textarea'  ,placeholder='Type your project description' name='Project_Desc') #{val}
            button.btn.btn-primary(type='submit') Update
