extends layout
block content
    h1= title
    h5(style='text-align:center;') Page #{pg}
    flex-container(style='justify-content:center;flex-direction:row;gap:7px;margin-bottom:15px;')
        -for (j = 0; j < pages; j++)
            form(method='GET'  action='')
                div.form-row
                    div.form-group.col-md-1
                    label(for= 'page')
                        input#page.form-control(type='hidden'  name='page' value=j + 1)
                button.btn.btn-primary(type='submit;',style='width:33px; height:30px; ') #{j+1}
    ul
        table(style='width:100%')
            tr
                th Name
                th Email
                th Phone
                th Role
                if (User_id=="60874aac89fdca5120661ad2" )
                  th Assign Admin
                  th Assign User
            tr
                each useritem in UserItem
                    tr
                            td= useritem.Uname
                                li
                                a(href="/catalog/billing/" + useritem.url) Billing Account
                            td #{useritem.email}
                            td #{useritem.phone}
                            td #{useritem.role}
                            if (User_id=="60874aac89fdca5120661ad2" )
                              td
                                form(method='POST'  action='/catalog/assignRole')
                                  div.form-row
                                      div.form-group.col-md-1
                                      label(for= 'rolelabel1')
                                          input#rolelabel1.form-control(type='hidden'  name='role' value="admin")
                                      label(for= 'idlabel1')
                                          input#idlabel1.form-control(type='hidden'  name='userID' value=useritem._id)
                                  button.btn.btn-primary(type='submit;',style='width:70px; height:30px; ') Admin
                              td
                                  form(method='POST'  action='/catalog/assignRole')
                                      div.form-row
                                          div.form-group.col-md-1
                                          label(for= 'rolelabel')
                                              input#rolelabel.form-control(type='hidden'  name='role' value="user")
                                          label(for= 'idlabel')
                                              input#idlabel.form-control(type='hidden'  name='userID' value=useritem._id)
                                      button.btn.btn-primary(type='submit;',style='width:70px; height:30px; ') User

                else
                    li There are no Users.
    flex-container(style='justify-content:center;flex-direction:row;gap:7px;')
        -for (k = 0; k < pages; k++)
                form(method='GET'  action='')
                    div.form-row
                        div.form-group.col-md-1
                        label(for= 'page')
                            input#page1.form-control(type='hidden'  name='page' value=k + 1)
                    button.btn.btn-primary(type='submit;',style='width:33px; height:30px; ') #{k + 1}
    h5(style='text-align:center;margin-top:10px;') Page #{pg}